body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    color: #fff;
    background-color: #607EAA;
}
.container-fluid{
    padding: 3% 15%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
/* Navbar  */
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

/* Buttons */
.download-btn{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 80%;
}
.heading-3{
    font-family: 'Montserrat';
    font-size: 1.5rem;

}
.feature-box{
    margin-top: 10px;
    text-align: center;
}
.icon{
    color: #395B64;
}
.icon:hover{
    color: black;
}
.footer{
    font-size: 1.5rem;
    text-align: center;
    padding: 20px;
    background-color: #395B64;
    color: #3FA796;
}
.footer-para{
    color: #EAE3D2;
}
p{
    font-weight: bold;
    font-family: 'Ubuntu';
    color: #395B64;
}
p:hover{
    color: black;
}
.title-1:hover{
    color: black;
}
.image{
    text-align: center;
}
.profile-pic{
    width: 30%;
}
.dev-name{
    margin: 30px 0;
    font-family: 'Ubuntu';
}
.skill{
    color: #395B64;
    font-family: 'Ubuntu';
    text-align: center;
    margin-bottom: 40px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}